<div id="wrapper" ng-init="tabSelected = 1">

	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<div class="surnom">{{infos.surname}}</div>
				</li>
				<li>
					<a href="" ng-click="tabSelected = 1">Général</a>
				</li>
				<li>
					<a href="" ng-click="tabSelected = 2">Présentation</a>
				</li>
				<li>
						<a href="" ng-click="tabSelected = 3">Activité</a>
				</li>
				<li>
						<a href="" ng-click="tabSelected = 4">Photo</a>
				</li>
				<li>
						<a href="" ng-click="tabSelected = 5">Modification</a>
				</li>
		</ul>
	</div>

		<!--GENERAL-->


		<div class="container">
			<div ng-show="tabSelected === 1" class="row">

					<div id="Général">
						<h1>Général</h1>
						<hr>
					</div>

				<div class="googleMap" class="col-xs-6" >
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.75769484257!2d2.2775173092228216!3d48.858950680835314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis!5e0!3m2!1sfr!2sfr!4v1479888503437" width="525" height="475" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
        <div class="row">
  				<div class="col-xs-6 form-group">
  					<p class="tailleTitre" for="text">Nom de votre association</p>
  					<p>{{infos.name}}</p>
            	<label for="text">Pays</label>
              	<p>	{{infos.country}} </p>
            <p class="tailleTitre">Adresse exacte</p>
            <label for="text">Numéro et nom de la rue</label>
  						<p>
  							{{infos.address}}
  						</p>
              <label for="text">Code Postal</label>
    					<p>
    						{{infos.codePostal}}
    					</p>
              <label for="text">Ville</label>
              <p>{{infos.city}}</p>
  				</div>
        </div>
			</div>



			<!--PRESENTATION-->
			<div ng-show="tabSelected === 2" class="row">
						<!-- <div class="col-xs-offset-2 col-xs-10" class="form-group"> -->

				<div id="Présentation">
					<br><br><h1>Présentation</h1>
					<hr>
				</div>

				<div class="col-xs-12" class="form-group">

					<label class="tailleTitre" for="text">Résumé</label>
					<div class="blocResume">
					{{infos.description}}
					</div>
          <label class="tailleTitre" for="text">Présentation générale</label>
          <div class="blocPresentation">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias explicabo dignissimos obcaecati laborum molestiae tempore, dolorum excepturi at eius neque inventore expedita repellendus possimus illum temporibus. Enim dolorum odio incidunt?
          </div>
				</div>
				<br><br><br><br><br>
			</div>

			<!--ACTIVITES-->

							<div ng-show="tabSelected === 3" class="row">
								<div id="Activites">
									<h1>Activites</h1>
									<hr>
								</div>
							<div class="boiteActivites">
								<div class="col-xs-4" class="form-group">
									<label class="tailleTitre" for="text">Nom de l'activité</label>
									<input type="text" class="form-control" placeholder="Maraud du jeudi soir">
								</div>
								<br><br><br><br>


								<label>
									<input type="checkbox" name="checkboxName" class="checkbox"/>
									<div class="switch"></div>
								</label>

								<div class="col-xs-8" class="form-group">
									<label class="tailleTitre" for="text">Description</label>
									<input type="text" class="form-control" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quas est fugit accusamus dignissimos, laboriosam dolores obcaecati incidunt a voluptates. Molestiae voluptates blanditiis aut iste ab, vero dolores quibusdam nihil.">
								</div>
							</div>

							<br><br>
						<div class="row">
							<div class="boiteActivites">
								<div class="col-xs-4" class="form-group">
									<label class="tailleTitre" for="text">Nom de l'activité</label>
									<input type="text" class="form-control" placeholder="Maraud du vendredi soir">
								</div><br><br><br><br>

								<div class="col-xs-8" class="form-group">
									<label class="tailleTitre" for="text">Description</label>
									<input type="text" class="form-control" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quas est fugit accusamus dignissimos, laboriosam dolores obcaecati incidunt a voluptates. Molestiae voluptates blanditiis aut iste ab, vero dolores quibusdam nihil.">
								</div>
							</div>
						</div>
					</div>

					<!--Photos -->
					<div ng-show="tabSelected === 4" class="row">
						<div id="Photos">
							<h1>Photos</h1>
							<hr>
						</div>
							<div class="col-xs-4" class="form-group">
								<div class="blocPhoto1"><br><br>(photo 1)</div>
							</div>

							<div class="col-xs-8" class="form-group">
								<div class="blocPhoto2"><br><br>(photo 2)</div>
							</div>
						</div>

						<!-- Modification -->
						<div ng-show="tabSelected === 5" class="row">
							<div id="Modification">
								<h1> Modification </h1>
								<hr>
							</div>
							<div class="col-xs-8" class="form-group">
								<form name="formModification" class="form" role="form" ng-submit="formModification.$valid && homeCtrl.modifierAssociation()">
									<label class="tailleTitre" for="text">Description</label>
									<input type="text" class="form-control" ng-model="modif_description" required/>
									<br/>
									<label class="tailleTitre" for="text">Name</label>
									<input type="text" class="form-control" ng-model="modif_name" required/>
									<br/>
									<label class="tailleTitre" for="text">Address</label>
									<input type="text" class="form-control" ng-model="modif_address" required/>
									<br/>
									<label class="tailleTitre" for="text">City</label>
									<input type="text" class="form-control" ng-model="modif_city" required/>
									<br/>
									<label class="tailleTitre" for="text">Code Postal</label>
									<input type="text" class="form-control" ng-model="modif_codePostal" required/>
									<br/>
									<label class="tailleTitre" for="text">Surname</label>
									<input type="text" class="form-control" ng-model="modif_surname" required/>


									<br/>
									<input class="btn btn-default" value="Envoyer" type="submit"/>
								</form>
						</div>
					</div>

		</div>
	</div>
