<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="css/simple-sidebar.css" type="text/css">
    <link rel="stylesheet" href="css/style-sheet.css" type="text/css">
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <link rel="stylesheet" href="css/navbarr.css" type="text/css">
  </head>
  <body>


<a href="/signout">Se déconnecter</a>

<div id="wrapper" ng-init="tabSelected = 1">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    {{profile.username}}
                </a>
            </li>
            <li>
                <a href="" ng-click="tabSelected = 1">Présentation</a>
            </li>
            <li>
                <a href="" ng-click="tabSelected = 2">Activité</a>
            </li>
            <li>
                <a href="" ng-click="tabSelected = 3">Photo</a>
            </li>
            <li>
                <a href="" ng-click="tabSelected = 4">Calendrier</a>
            </li>
            <li>
                <a href="" ng-click="tabSelected = 5">Modification</a>
            </li>
        </ul>
    </div>

    <div class="container-fluid">

      <div ng-show="tabSelected === 1" class="row">
        <h1>{{profile.name}}</h1>
        <h3>Presentation</h3>

        <div class="description">{{profile.description}}</div>

      <h3>Adresse</h3>
      <div class="description">{{profile.address}}</div>

      <h3>Code postal</h3>
      <div class="description">{{profile.codePostal}}</div>

      <h3>Ville</h3>
      <div class="description">{{profile.city}}</div>

      <h3>Pays</h3>
      <div class="description">{{profile.Country}}</div>

      <h3>Telephone</h3>
      <div class="description">{{profile.phone}} </div>
      </div>

  		  <!--ACTIVITES-->
      <div ng-show="tabSelected === 2" class="row">
        <h1>Activité</h1>

      </div>

      <div ng-show="tabSelected === 3" class="row">
        <h1>Photo</h1>
        <img ng-src="images/{{profile.photo[0]}}" alt="image">

      </div>

      <div ng-show="tabSelected === 4" class="row">
        <h1>Calendrier</h1>
      </div>

      <div  ng-show='tabSelected === 5' class="row">
        <h1>Modification</h1>





      </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
<script type="text/javascript" src="angularJs/app.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/login.js"></script>


</body>
</html>
