<nav class="navbar navbar-default">
	        <div class="container-fluid">
	            <ul class="nav navbar-nav">
	                <li><a href="#/"><span class="navigation">Accueil</span></a></li>
	                <li class="active"><a href="recherche.html"><span class="navigation">Recherche</span></a></li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right">
	                <li><a href="#/register"><span class="glyphicon glyphicon-user"></span> S'inscrire</a></li>
	                <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
	            </ul>
	        </div>
	</nav>
