

<div class="container-fluid cards-row">
<div class="container">
<div class="row">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/charity.jpg" alt="Bootstrap Thumbnail: Beautiful Bootstrap Thumbnail like Material Design Cards">
      <div class="caption">
        <h3>Charity</h3>
        <p class="card-description"><strong>Association Charity</strong> un site pour regrouper toutes les associations et <strong>un outil de gestion des maraudes</strong>. Venez découvrir nos idées.</p>
        <p><a href="#/profile" class="btn btn-primary" role="button">En savoir plus</a></p>
      </div>
    </div>
  </div>

</div>
</div>
</div>
