<div class="container">

  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="images/charity.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Telecharger des photos...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

      <form class="form-horizontal" role="form" name="myform" ng-submit="myform.$valid && formCtrl.contact()">
        <div class="form-group">
          <label id="form" class="col-lg-3 control-label">Nom de l'association</label>
          <div class="col-lg-8">
            <input class="form-control" placeholder="nom" type="text" ng-model="name" required />
          </div>
        </div>
        <div class="form-group">
          <label id="form" class="col-lg-3 control-label">Surnom</label>
          <div class="col-lg-8">
            <input class="form-control" placeholder="surnom" type="text" ng-model="username" required />
          </div>
        </div>
        <div class="form-group">
          <label id="form" class="col-lg-3 control-label">Adresse</label>
          <div class="col-lg-8">
            <input class="form-control" placeholder="adresse" type="text" ng-model="address" required />
          </div>
        </div>
        <div class="form-group">
          <label id="form" class="col-lg-3 control-label">Code Postal</label>
          <div class="col-lg-8">
            <input class="form-control" placeholder="Code Postal" type="number" ng-model="codePostal" required />
          </div>
        </div>
        <div class="form-group">
          <label id="form" class="col-lg-3 control-label">Ville</label>
          <div class="col-lg-8">
            <input class="form-control" placeholder="Code Postal" type="text" ng-model="city" required />
          </div>
        </div>
        <div class="form-group">
          <label id="form" class="col-lg-3 control-label">Pays</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select id="user_time_zone" ng-model="country" class="form-control">
                <option value="pays">France</option>
                <option value="pays">Allemange</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label id="form" class="col-md-3 control-label">Telephone:</label>
          <div class="col-md-8">
            <input class="form-control" placeholder="telephone" type="text" ng-model="phone" required />
          </div>
        </div>
        <div class="form-group">
          <label  id="form" class="col-md-3 control-label">Description:</label>
          <div class="col-md-8">
            <textarea class="form-control" placeholder="description" type="text" ng-model="description" required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Submit" type="submit">
            <span></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
